img {
    box-shadow:
        0px 0px 0px 15px #fff,
        0px 2px 10px 0px rgba(0,0,0,0.1),
        6px 6px 10px 15px #777;
    margin-top: 20px;
    margin-bottom: 60px;

    height: 150px;
    width: 150px;
}

img:active {
    box-shadow: none;
    /* width: 70px; */
    /* height: 74px; */
}